<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
  </head>
  <body>
    <h1>Quiz Control</h1>
    <h2>Leaderboard</h2>
    <table id="leaderboard"></table>

    <script>
      const socket = io();

      socket.emit("identify", { role: "host", file: "{{quiz_file}}" });

      socket.on("leaderboard_update", (data) => {
        const rows = Object.entries(data)
          .map(
            ([id, obj]) => `<tr><td>${obj.name}</td><td>${obj.score}</td></tr>`
          )
          .join("");
        document.getElementById("leaderboard").innerHTML =
          `<tr><th>Name</th><th>Score</th></tr>` + rows;
      });
    </script>
  </body>
</html>
