<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
  </head>
  <body>
    <h1>Quiz Control</h1>
    <h2>Leaderboard</h2>
    <pre id="leaderboard"></pre>

    <script>
      const socket = io();

      socket.on("leaderboard_update", (data) => {
        const board = Object.entries(data)
          .map(([name, obj]) => `${name}: ${obj.score}`)
          .join("\n");
        document.getElementById("leaderboard").innerText = board;
      });
    </script>
  </body>
</html>
